body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  font-family: monospace;
}

#diamond-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #000508;
  background-color: white;
}


.row {
  display: flex;
  justify-content: center;
  height: 24px;
}

.space {
  display: inline-block;
  width: .1px;
}

.star {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 20px;
  color: #3498db;
}
